/* General */
body {
    margin: 0;
    padding: 0;
    background-color: #1C1E26; /* Fondo principal azul oscuro casi negro */
    color: #E2F1E7; /* Color de texto */
    font-family: Arial, sans-serif;
}

/* Barra superior */
.header-bar {
    background-color: #000; /* Fondo negro */
    padding: 5px 20px; /* Espaciado */
    text-align: left; /* Alinear a la izquierda */
}

/* Texto en coreano en la barra superior */
#korean-text {
    color: red;
    font-size: 1.5rem; /* Tamaño más pequeño */
    margin: 0;
    display: inline-block;
    transition: color 0.3s ease;
}

#korean-text:hover {
    color: red;
}

/* Botón DEV con imagen */
#dev-button {
    background-color: transparent;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 80px; /* Aseguramos un ancho fijo para la imagen del botón */
    height: 80px; /* Aseguramos una altura fija */
}

#dev-button img {
    max-width: 100%; /* La imagen no será más grande que el contenedor */
    max-height: 100%; /* La imagen se ajustará para mantener la proporción */
    height: auto;
    width: auto;
    transition: transform 0.3s ease;
}

#dev-button img:hover {
    transform: scale(1.1); /* Aumenta un 10% al hacer hover */
}

/* Sección de Proyectos */
.projects-section {
    text-align: center;
    padding: 50px;
}

.project-card {
    background-color: #B5D1CF; /* Verde azulado claro */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 25%; /* Ancho de las tarjetas */
    transition: transform 0.3s ease; /* Añadir transición para animación */
}

.project-card:hover {
    transform: scale(1.15); /* Crece un 15% */
}

.project-card h3 {
    margin-top: 0;
}

.view-btn {
    background-color: #2A2B2E; /* Gris oscuro para botones habilitados */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.view-btn:hover {
    background-color: #3A3B3E; /* Gris oscuro más claro al hacer hover */
}

.disabled-btn {
    background-color: #6B7280; /* Botón deshabilitado en gris claro */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: not-allowed;
    border-radius: 5px;
}
